[fetch]
	prune = true
[pull]
	rebase = false
[push]
        autoSetupRemote = true
[user]
        name = Willson Wang
        email = willson.wang@datadoghq.com
	signingkey = SHA256:6rtMny0Ox34YS7InokrrpZ2vO0ItF7SpviGzfM+zC7Q
[commit]
	gpgsign = true
[gpg]
	format = ssh
[url "git@github.com:DataDog/"]
        insteadOf = https://github.com/DataDog/
